# Test
examples/src/main/resources/output*

# OS
.bsp
.DS_Store

# Scala
project/project
target

# Spark
spark-warehouse

# IDE
.bloop
.idea
.metals
.vscode
project/metals.sbt

# Docusaurus
.cache-loader
.docusaurus
.env.development.local
.env.local
.env.production.local
.env.test.local
/website/build
/website/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
